   .hover-animation{
        position: relative;
        height: 350px;
        width: 350px;
        margin: 10% auto 0;
        color: #fff;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
   }
   
   .hover-animation img{
        position: absolute;
        height: 350px;
        width: 350px;
        left: 0;
        -webkit-transition: opacity 1s ease;
        -moz-transition: opacity 1s ease;
        -ms-transition: opacity 1s ease;
        -o-transition: opacity 1s ease;
        transition: opacity 1s ease;
    }

    .hover-animation img.img-front:hover{
        opacity: 0;
        cursor: pointer;
    }